.position-icon--header{
    right: 40px;
    position: absolute;
    top: 14px;
}

.categorias-tab {
    min-width: 40%;
    width: 1300px;
    max-width: 100%;
    .mat-column-position {
        width: 80px;
    }
    .mat-column-editar {
        width: 90px

    }
}