#containerTimePicker {
  width: 220px;
  height: 210px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px !important;
}
.time-container {
  position: relative;
  padding: 2px;

  ::ng-deep.mat-form-field-wrapper {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}

.time-format-section {
  width: 100%;
  margin-bottom: 4px;
}

.time {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.divider {
  margin-bottom: 10px;
  mat-divider {
    position: relative;
  }
  
}

.AM-PM {
  margin-left: 10px;
  height: 135px;
  align-items: center;
}
