<mat-card fxFlex="450px" fxFlexAlign="center" fxFlex.sm="100%" fxFlex.xs="100%">
    <mat-card-header>
        <mat-card-title>Recuperar Senha</mat-card-title>
    </mat-card-header>
    <ng-container [ngTemplateOutlet]="(switch_expression)? verificadoTrue : verificadoFalse"></ng-container>
</mat-card>

<!-- Enviar email de recuperacao de senha -->
<ng-template #verificadoTrue>
    <mat-card-content fxLayoutAlign="center">
        <section>
            <p>Informe o E-mail. <br /></p>
            <p>Será enviado para seu e-mail um link para recuperar a senha.</p>
            <mat-form-field color="accent" appearance="legacy" style="padding-top: 15px;">
                <mat-label>Email:</mat-label>
                <input matInput [formControl]="emailForm" type="email">
            </mat-form-field>
        </section>
    </mat-card-content>
    <mat-card-actions>
        <section fxFlex="200px">
            <button mat-raised-button (click)="buttonEnviarEmail(emailForm.value)" [disabled]="!emailForm.valid" cdkFocusInitial>Enviar Email</button>
        </section>
        <section fxFlex="200px">
            <button mat-button routerLink="../../login" cdkFocusInitial>Voltar para o Login</button>
        </section>
    </mat-card-actions>
</ng-template>
<!-- Confirmar senha e alterar -->
<ng-template #verificadoFalse>
    <mat-card-content fxLayoutAlign="center">
        <section>
            <form [formGroup]="passwordForm" aautocomplete="off" autocomplete="nope">
                <p>Pronto! Agora é so digitar a sua nova senha.</p>
                <mat-form-field color="accent" appearance="legacy" style="padding-top: 15px;">
                    <mat-label>Senha:</mat-label>
                    <input matInput [formControl]="passwordForm.get('senha')" type="password"  autocomplete="new-password" autocomplete="nope">
                    <mat-hint>Minimo 8 digito, 1 letra e 1 numero</mat-hint>
                </mat-form-field>
                <mat-form-field color="accent" appearance="legacy" style="padding-top: 15px;">
                    <mat-label>Confirmar Senha:</mat-label>
                    <input matInput [formControl]="passwordForm.get('senhaConfirmar')" type="password"  autocomplete="new-password" autocomplete="nope">
                </mat-form-field>
            </form>
        </section>
    </mat-card-content>
    <mat-card-actions>
        <section fxFlex="200px">
            <button mat-raised-button (click)="buttonAtualizarPassword(passwordForm.get('senha').value)" [disabled]="!passwordForm.valid" cdkFocusInitial>Atualizar Senha</button>
        </section>
    </mat-card-actions>
</ng-template>