$md-primarydark: (
50 : #eaeaea,
    100 : #cbcbcb,
    200 : #a8a8a8,
    300 : #858585,
    400 : #6b6b6b,
    500 : #515151,
    600 : #4a4a4a,
    700 : #404040,
    800 : #373737,
    900 : #272727,
    A100 : #f18585,
    A200 : #ec5757,
    A400 : #ff1111,
    A700 : #f60000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
  ),
);

$md-secondarydark: (
    50 : #e0f7fa,
    100 : #b3ebf2,
    200 : #80deea,
    300 : #4dd0e1,
    400 : #26c6da,
    500 : #00bcd4,
    600 : #00b6cf,
    700 : #00adc9,
    800 : #00a5c3,
    900 : #0097b9,
    A100 : #e2f9ff,
    A200 : #afeeff,
    A400 : #7ce3ff,
    A700 : #63ddff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);